.filters {
  padding: 5px;
  margin: 10px 40px 10px 45px;
  display: flex;
  flex-direction: row;
}

.search {
  background-color: #c9dde2;
  padding: 18px;
  margin: 18px;
  flex-direction: row;
  flex: 572px;
  border: none;
  border-radius: 10px;
}

.type {
  background-color: #c9dde2;
  color: #2e3156;
  font-weight: bold;
  padding: 18px;
  margin: 18px;
  flex-direction: row;
  flex: 180px;
  border: none;
  border-radius: 10px;
}

.type-button {
  text-align: start;
  color: #2e3156;
  font-weight: bold;
  padding: 18px;
  margin: 18px;
  flex: 180px;
  border: none;
  border-radius: 10px;
}

.stats-button {
  text-align: start;
  color: #2e3156;
  font-weight: bold;
  padding: 18px;
  margin: 18px;
  flex: 180px;
  border: none;
  border-radius: 10px;
}

.gender {
  background-color: #c9dde2;
  color: #2e3156;
  font-weight: bold;
  padding: 18px;
  margin: 18px;
  flex-direction: row;
  flex: 180px;
  border: none;
  border-radius: 10px;
}

.stats {
  background-color: #c9dde2;
  color: #2e3156;
  font-weight: bold;
  padding: 18px;
  margin: 18px;
  flex-direction: row;
  flex: 180px;
  border: none;
  border-radius: 10px;
}
