.info-modal_root {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 90%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #deeded;
  color: #2e3156;
  border: none;
  border-radius: 10px;
}

.info-modal {
  display: flex;
  position: relative;
  width: 600px;
  height: 90%;
  overflow: hidden;

  background-color: #deeded;
  color: #2e3156;
  font-weight: 600;
  padding: 18px;
  margin: 18px;
  border: none;
  border-radius: 10px;
}

.info-modal_root::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.info-image_card {
  display: flex;
  width: 180px;
  height: 270px;
  border: 2px dashed black;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  border-radius: 10px;
}

.info-modal_image_header {
  display: flex;
  flex-direction: row;
  /* flex: 30%; */
}

.info-modal_para_header {
  display: flex;
  flex-direction: column;
  flex: 70%;
  margin: 5px;
  padding: 2px;
}

.info-modal_header {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical-line {
  border-left: 2px solid #70728d;
  margin: 10px;
  padding: 5px;
  display: flex;
  height: 40px;
}
.info-modal_header_buttons {
  align-self: center;
}
.info-modal_para {
  display: block;
}

.info-modal_details {
  display: flex;
  flex-direction: column;
}

.info-modal_details_row1 {
  display: flex;
  flex-direction: row;
}

.info-modal_details_row2 {
  display: flex;
  flex-direction: row;
}
.info-modal_details_content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.stats-row {
  display: flex;
  flex-direction: column;
  background-color: #b0d2d2;
  border-radius: 10px;
  padding: 5px;
}
.stats-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.stats-progress {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
progress {
  position: relative;
  width: 140px;
}

progress::before,
progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

progress::before {
  width: 100%;
  background: #93b2b2;
}

progress::after {
  width: 75%;
  background: #2e3156;
}

label {
  width: 80px;
}
.evolution-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.evolution-chain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evolution-heading {
  display: flex;
}

.evolution-main_card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 270px;
  border: 2px dashed black;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  border-radius: 10px;
}

.evolution-chain_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.evolution-cardImage {
  flex: 200px;
  display: flex;
  /* justify-content: center;
  align-items: center;
  align-self: center; */
}

.evolution-cardItems {
  color: #2e3156;
  flex: 70px;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center; */
}
